/* 
csgo colors: 
blue: #0a0c1c
orange: #e08b22
*/

// variables
$eerie: #222222;
$bitter: #f87060;
$pastel: rgba(227, 164, 155, 0.5);
$light: #cdd7d6;
// widespread rules
* {
  margin: 0;
  padding: 0;
}
html {
  background: $eerie;
  color: $light;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

html,
body,
#root,
.container {
  height: 100%;
}

#root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navBar + div {
  overflow: hidden;
}

.navBar {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: white;
}

.rankingsTable {
  width: 100%;
  background: $pastel;
}

.rankingsTableContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
th,
td {
  font-size: 1.2em;
  padding-left: 1em;
  text-align: left;
}
.Form {
  display: grid;
  grid-template-columns: 48vw 48vw;
  column-gap: 4vw;
  row-gap: 1vh;
  height: 100%;
}
.formElem {
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  color: #fff;
  font-size: 1.5em;
  background: #222;
}
.dragBox {
  height: 80vh;
  overflow-y: scroll;
  background: #111;
}

#formSubmit {
  grid-column: 1 / 3;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
