/* 
csgo colors: 
blue: #0a0c1c
orange: #e08b22
*/

// variables
$eerie: #222222;
$offGray: #333333;
$bitter: #f87060;
$pastel: rgba(227, 164, 155, 0.5);
$light: #cdd7d6;
// widespread rules
* {
  margin: 0;
  padding: 0;
}
html {
  background: $eerie;
  color: $light;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
// header
.navBar {
  margin-top: 0.5em;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5em;
}
.logo {
  width: 3em;
  height: 3em;
  fill: $light;
}

#active {
  fill: $bitter;
}
// table
.tbl {
  display: flex;
  flex-direction: column;
}
.tblRow {
  display: flex;
  height: 2em;
  background: $offGray;
  margin: 0.5em 2em;
  text-align: center;
  line-height: 2em;
  padding: 0.4em;
  justify-content: flex-start;
  border-radius: 2%;
}
.tblRankNum {
  font-size: 0.95em;
  font-weight: bold;
  width: 2.5em;
  margin-right: 0.6em;
}
.tblTeamName {
  font-size: 1.2em;
  font-weight: bolder;
  margin-right: 0.2em;
}
.tblPoints {
  font-size: 0.8em;
}
// other
#root > div {
  display: flex;
  flex-direction: column;
}
// set
.Form {
  display: flex;
  flex-direction: column;
}
.formElem {
  display: flex;
  height: 2em;
  background: $offGray;
  margin: 0.5em 2em;
  text-align: center;
  line-height: 2em;
  padding: 0.4em;
  justify-content: flex-start;
  border-radius: 2%;
}
.formElem:nth-child(21) {
  background: $bitter;
}

/*
a
a
a
a
a
a
a
a
a
*/

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
