/* 
csgo colors: 
blue: #0a0c1c
orange: #e08b22
*/
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

* {
    margin: 0;
    padding: 0;
}
html {
    background: #222;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

html,
body,
#root,
.container {
    height: 100%;
}

#root > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navBar + div {
    overflow: hidden;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #333;
}
.title {
    color: white;
}

.rankingsTable {
    width: 95%;
    background: #001f4c;
    border-radius: 10px;
}

.rankingsTableContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}
th,
td {
    font-size: 1.2em;
    padding-left: 1em;
    text-align: left;
}
.Form {
    display: grid;
    grid-template-columns: 48vw 48vw;
    column-gap: 4vw;
    row-gap: 1vh;
    height: 88vh;
    border-bottom: 5px solid #333;
}
.formElem {
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    color: #fff;
    font-size: 1.5em;
    background: #222;
    opacity: 80%;
}
.dragBox {
    overflow-y: scroll;
    background: #111;
}
